<div class="card_component">
  <img class="p-1 bg-red border rounded max-w-sm" <%= card_picture %>>
  <div class="card_details">
    <span><%= title %></span>
    <p><%= description %></p>
    <%= content %>
  </div>
</div>



