<div class="stat-component mx-auto m-10 w-48 bg-white shadow-xl">

  <div class="w-1/3"><%= card_logo %></div>
  <div class="stat-details p-5 text-blue-900">
    <span><%= title %></span>
    <p><span class="text-xl font-bold"><%= value %></span>  tCO2</p>
  </div>
</div>
