<div class="stat_component m-10 w-1/3 bg-white shadow-sm">

  <div class="w-1/3">
    <%= card_logo %>
  </div>
  <div class="card_details p-5 text-blue-900">
    <span><%= title %></span>
    <p class="text-xl font-bold"><%= value %></p> tCO2
  </div>
</div>
