<div class="container">

  <h1 class="text-blue-700 font-semibold text-xl text-center mb-12">ViewComponents Testing</h1>
    <!-- <p>

    </p> -->

  <h1 class="text-blue-900 font-semibold text-xl text-center mb-5">Chart_Component :</h1>
  <div class="chart-component w-3/5 mx-auto shadow-xl mb-12 p-5">
    <%= column_chart CarbonContribution.group(:year).sum(:value) %>
    <p class="text-blue-800 text-xs text-right pt-3 px-3">Contributions carbone réalisées dans l'année (tCO2)</p>
  </div>


  <h1 class="text-blue-900 font-semibold text-xl text-center mb-5">Stat_Component :</h1>
  <%= render(StatComponent.new(
    title: "Contribution carbon totale",
    value: "#{@carbon_contributions_sum}",
    logo: "https://thumbs.dreamstime.com/b/shopping-cart-icon-vector-logo-137282150.jpg")) %>

  <h1 class="text-blue-900 font-semibold text-xl text-center mb-5">Card_Component :</h1>
  <%= render(CardComponent.new(
    title: "Accompagnement personnalisé stratégie carbone",
    description: "Vous souhaitez que l'un de nos experts accompagne pas à pas votre entreprise dans la compensation de votre empreinte carbone résiduelle ?",
    picture_url: "https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")) do%>
      <%= render(ButtonComponent.new(call_to_action: "Nous contacter"))  %>
    <% end %>
</div>

